.ComponentScreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80% 20%;
}
div {
  height: 100%;
}

.DesignArea {
  display: grid;
  grid-template-rows: 10% 90%;
}
.MenuBar {
  display: flex;
  padding: 1vw;
  box-sizing: border-box;
}
.LeftMenuBar {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.LeftMenuBar select {
  margin-left: 2%;
  width: 18%;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  outline-width: 0;
}
.LeftMenuBar select option {
  outline-width: 0;
  border-radius: 10px;
}
.RightMenuBar {
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.button {
  font-size: var(--tertirayFont);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  outline-width: 0;
  user-select: none;
  cursor: pointer;
  box-shadow: 1px 1px #000;
  transition: box-shadow 0.5s;
  margin-left: 5px;
  margin-right: 5px;
}
.generateCode:hover {
  box-shadow: 1px 1px 10px 1px #000;
}
.designcontainer iframe {
  width: 70vmin;
  height: 70vmin;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  border-radius: 10px;
  user-select: none;
}
.designcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssArea {
  background: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}
.cssContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.cssContainer p {
  font-size: var(--tertirayFont);
  text-align: center;
}
.cssContainer input {
  outline-width: 0;
  box-sizing: border-box;
  padding: 5px;
}
